@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>STUDENT INFORMATION SYSTEM</h1>
    <p class="lead">A web based database application.</p>
    <p><a href="http://mayet.ca/mayetOverview.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Cours", "Index", "Cours")</h2>
        <p>
            Courses Information
        </p>
        <p><a class="btn btn-default" href="http://mayet.ca/mayetOverview.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Departments", "Index", "Departments")</h2>
        <p>
            Department Information
        </p>
        <p><a class="btn btn-default" href="http://mayet.ca/mayetOverview.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Instructors", "Index", "Instructors")</h2>
        <p>
            Instructor Information
        </p>
        <p><a class="btn btn-default" href="http://mayet.ca/mayetOverview.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Registrations", "Index", "Registrations")</h2>
        <p>
            Registration Information
        </p>
        <p><a class="btn btn-default" href="http://mayet.ca/mayetOverview.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Students", "Index", "Students")</h2>
        <p>
            Student Information
        </p>
        <p><a class="btn btn-default" href="http://mayet.ca/mayetOverview.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("StudyTerms", "Index", "StudyTerms")</h2>
        <p>
            StudyTerm Information
        </p>
        <p><a class="btn btn-default" href="http://mayet.ca/mayetOverview.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("TeachingAssignments", "Index", "TeachingAssignments")</h2>
        <p>
            TeachingAssignment Information
        </p>
        <p><a class="btn btn-default" href="http://mayet.ca/mayetOverview.html">Learn more &raquo;</a></p>
    </div>
</div>